.header-item {
    font-size: 18px;
    text-transform: uppercase;
}

.header-logo {
    height: 50px;
    width: 50px;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}